.p-multiselect,
.p-dropdown,
.p-calendar {
  display: flex !important;
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
  padding: 0.375rem 0.75rem;
  margin-right: 0.5rem;
  background: #EEF2FF;
  color: #4338CA;
  border-radius: 10rem !important;
}

.p-component {
  font-family: Raleway, sans-serif !important;
}

.p-calendar,
.p-datepicker-calendar {
  font-family: sans-serif !important;
}

.dialog-demo .p-button {
  margin: 0 .5rem 0 0;
  min-width: 10rem;
}

.dialog-demo p {
  margin: 0;
  line-height: 1.5;
}

.dialog-demo .confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-demo .p-dialog .p-button {
  min-width: 6rem;
}

.p-multiselect-filter, .p-dropdown-filter {
  border-color: var(--gray-300);
  border-radius: var( --border-radius);
}